{% extends './base.html' %}
{% block content %}
<!--top-->
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/static/img/Izumi_photo1 .png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Izumi</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Programmer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Taiwan, Taipei</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>kouichiwang17@gmail.com</p>
          

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Codeing/C#,Java,Python...</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">85%</div>
          </div>
          <p>Deep Learing</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">65%</div>
            </div>
          </div>
          <p>Web App</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">60%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Chinese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Janpanese</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
          </div>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:50%"></div>
          </div>
          <br>
        </div>
      </div><br>

      <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"style="text-align:center;">よこそう!<strong>Izumi</strong>のIT世界</h2>
        <div class="w3-container">
          <h4 class="w3-opacity" style="text-align:center; font-family: Potta One;"><b>何故このWebを作る</b></h4>
          
          <p>理由は3つ<br>
          	<li style="font-family: 'Kosugi', sans-serif;">就職のために</li>
          	<li style="font-family: 'Kosugi', sans-serif;">偶々勉強記録</li>
          	<li style="font-family: 'Kosugi', sans-serif;">作品を展示する</li>
          </p>
          <hr>
          <h4 class="w3-opacity" style="text-align:center; font-family: Potta One;"><b>私は誰</b></h4>
          <p>
          	台湾で育ちして、生まれ地が台湾じゃない。前世は多分日本人かな(これは冗談)、アニメとか日本文化とか音楽とかが好きです。何が懐かしい感じがある。趣味はいっばいがあり、特に自分で旅行。好奇心が高い、色々こと試したい。大学にいるときに映画会社で実習したことがあり、社会経験がある。でも映画は興味がなし、そして、試験で情報科学の学校に転校したと卒業した。
          </p>
          <hr>
          <h4 class="w3-opacity" style="text-align:center; font-family: Potta One;"><b>母語は中国語で、何故日本語を書きる</b></h4>
          <p>日本語を練習したい。元々2020年で、日本へ大学院を留学したいですげと、コロナのせいで計画は打ち切る。今は大切に仕事を探す。
          </p>
          <hr>
          <h4 class="w3-opacity" style="text-align:center; font-family: Potta One;"><b>それからの文章どの言語を書きる</b></h4>
          <p>
          	私の母語は中国語ですげと、日本語も練習したい、できれば2つの言語を書きると思います。でも、中国語を書くばかりそして日本語をゆっくり翻訳するかもしれない。
          </p>
          <hr>
        </div>
        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>大学卒業(不公開)/情報管理科学</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2019</h6>
          <p>学士号　Master Degree</p>
          <hr>
          <h5 class="w3-opacity"><b>政府機関工業技術研究院/AIと深度学習研修</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020/09 - 2020/12</h6>
          <hr>
        </div>
      </div>
      <div class="w3-container">
        <canvas id='myChart' ></canvas>
        <script style="float: left;">
          var chart_data = {
            labels: ['Java', 'Python', 'C#', 'Ruby', 'C'],
            datasets: [
            {
              label:'Izumi',
              data:[70,80,75,20,45],
              backgroundColor:'rgba(100,200,100,0.5)'
            }
            ]
          }

          var chart_options = {
            scale:{
              ticks:{
                min:0,
              }
            },

          }

          var ctx = document.getElementById('myChart');
          ctx.height = 50;

          var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: chart_data,
            options: chart_options
          });
        </script>
      </div>

      <!-- End Right Column -->
    </div>
    
    <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>



{% endblock %}